%h1 Sign up

= form_tag users_path, :autocomplete => :off, :method => :POST do
  = label :first_name, 'First Name'
  = text_field :user, :first_name
  %br
  = label :user, :last_name, 'Last Name'
  = text_field :user, :last_name
  %br
  = label :user, :email, 'E-Mail Address'
  = text_field :user, :email
  %br
  = label :user, :password, 'Password'
  = password_field :user, :password
  -# %input{:name => "password", :type => "password"}/
  %br
  = label :post, :password_confirmation, 'Confirm Password'
  = password_field :post, :password_confirmation
  -# %input{:name => "password", :type => "password"}/

  %br
  = submit_tag "Register"