-# %h3= @newRide
%br
%br

-if @valid
    %h2= @message
    %h2= "Departure Location: " + @departure
    %h2= "Destination Location: " + @destination
    %h2= "Year: " + @year
    %h2= "Month: " + @month
    %h2= "Date: " + @date
    %h2= "Hour: " + @hour
    %h2= "Minute: " + @minute
- else
    %h1= @message

= link_to "Post another ride.", new_ride_path
