-# %h3= @newRide
%br
%br

-if @valid
    %h2= @message
    = "Departure Location: " + @departure
    %br
    = "Destination Location: " + @destination
    %br
    = "Date & Time: #{@date_and_time}"
    %br
    = "Posted by user: #{@name}   (user ##{@posterUserId})"
    %br
- else
    %h1= @message
%br
%br
%br
= link_to "Post another ride.", new_ride_path
