-# %h3= @newRide
%br
%br

-if @valid
    %h2= @message
    = "Departure Location: " + @departure
    %br
    = "Destination Location: " + @destination
    %br
    = "Year: " + @year
    %br
    = "Month: " + @month
    %br
    = "Date: " + @date
    %br
    = "Hour: " + @hour
    %br
    = "Minute: " + @minute
    %br
    = "Posted by user: #{@posterUserId}"
    %br
- else
    %h1= @message
%br
%br
%br
= link_to "Post another ride.", new_ride_path
