-#  This file is app/views/rides/index.html.haml
:javascript
    $( function() {
        $( "#search_datepicker" ).datepicker({
            minDate: 0, maxDate: "+3M",
            showOn: "button",
            buttonImage: "assets/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date"
        } );
    } );
    

.center.jumbotron
    %h1 Search
    %br
    = form_tag search_rides_path, :method => :GET do
        = label :search, :departure, 'Departure Location'
        = select :search, :departure, @all_NY_counties, {:prompt => 'Departure'}
    
        = label :search, :destination, 'Destination Location'
        = select :search, :destination, @all_NY_counties, {:prompt => 'Destination'}
        %br
        = label :search, :date, 'On'
        %input#search_datepicker{:type => "text", :name => 'search[date]', :value => "#{Date.today().strftime('%m/%d/%Y')}"}/
        
        %br
        = submit_tag 'Search'
    %br
    = link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary"
    -if logged_in?
        = link_to 'Post a Ride', new_ride_path, class: "btn-lg btn-primary"

