%h1 Post A Ride

= form_tag rides_path, :method => :POST do
    = label :ride, :departure, 'Departure Location'
    = select :ride, :departure_location, @all_NY_counties, {:prompt => 'Departure'}

    = label :ride, :destination, 'Destination Location'
    = select :ride, :destination_location, @all_NY_counties, {:prompt => 'Destination'}
    
    %br
    %br
    
    = label :ride, :dateAndTime, 'Time '
    = datetime_select :ride, :dateAndTime, {:start_year => Date.today.year, :end_year => Date.today.year + 1, :prompt => true}
    
    = submit_tag 'Post'