-if @valid
        %table{:border => 1}
                %tbody
                        %tr
                                %td From
                                %td To
                                %td Year
                                %td Month
                                %td Day
                                %td Hour 
                                %td Minute
                                %td Time
                        -if @rides
                                -@rides.each do |ride|
                                        %tr
                                                %td= ride[:departure_location]
                                                %td= ride[:destination_location]
                                                %td= ride[:date_and_time].strftime("%Y")
                                                %td= ride[:date_and_time].strftime("%m")
                                                %td= ride[:date_and_time].strftime("%d")
                                                %td= ride[:date_and_time].strftime("%I")
                                                %td= ride[:date_and_time].strftime("%M")
                                                %td= ride[:date_and_time].strftime("%p")
-else
        %h1= @message