
-#    -if @rides.present?
-#    %tables#rides
-#        %thead
-#            %tr
-#                %th Departure Location
-#                %th Destination Location
-#                %th Date and Time
-#        %tbody
-#            - @rides.each do |ride|
-#                %tr
-#                   %td=ride.departure_location
 -#                   %td=ride.destination_location
 -#                   %td=ride.dateAndTime
%h2= "Departure Location: " + @search_departure
%h2= "Destination Location: " + @search_destination
%h2= "Year: " + @search_year
%h2= "Month: " + @search_month
%h2= "Date: " + @search_date
%h2= @ride.inspect            
-if @valid
 -@rides.each do |ride|
  %h2= link_to "# " + ride[:id].to_s + ": " + ride[:dateAndTime].strftime("%Y, %m, %d, %a") + ", From: " + ride[:departure_location] + ", To: " + ride[:destination_location], ride_path(ride)
-else 
 %h1= @message
